body, html {
	width: 100vw;
}

button:focus, input:focus, select:focus {
	outline: none;
}

input, div.ddmenu, .li-buttons, .total-cost, .total-label {
	width: 20%;
	text-align: center;
	border-radius: 5px;
	border: grey solid 1px;
}

.li-buttons {
	display: flex;
	border: none;
}

button {
	flex: 1 1 auto;
	text-align: center;
	border-radius: 5px;
	border: grey solid 1px;
}

div.ddmenu {
	border: none;
}

.add-line-item {
	background: green;
}

.better-select, .upcharge-select {
	display: flex;
	position: relative;
	flex-direction: column;
	outline: none;
	width: 100%;
}

.ddbutton {
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 5px;
	border: grey solid 1px;
}

.delete-line-item {
	background: red;
}

.line-item {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
}

.select-menu, .upcharge-menu {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	background: white;
	min-width: content;
	border: gray solid 1px;
	overflow: auto;
	border-radius: 5px;
	white-space: normal;
	width: 100%;
	min-width: max-content;
}

.select-menu input, .upcharge-menu input {
	text-align: left;
	padding-left: 5px;
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.total-cost {
	color: white;
	background-color: grey;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.total-label {
	flex-basis: 60%;
	text-align: center;
}

.total-output {
	flex-basis: 20%;
}

.totals {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.choice {
	width: 100%;
	border: none;
	text-align: left;
	white-space: nowrap;
}

.choice:hover {
	background: #EEE;
}

#calculator {
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container {
	width: 80%;
	margin: 50px auto;
}

